@charset "utf-8";
body{
/* Desktop */

position: relative;
width: 1440px;
height: 980px;
}
* {
 /* black */

background: #0E1014;  
margin: 0 auto;
padding: 0; 
}
footer{
  /* footer */

position: absolute;
width: 1141px;
height: 315px;
left: 149px;
bottom: 0px; 
}
.footer{
    /* маленькие заголовки */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: uppercase;

/* dark gray */

color: #656566;
}
.title1{
/* О компании */

position: absolute;
width: 106px;
height: 17px;
left: 0px;
top: 55px;
}
.title2{
/* Меню */

position: absolute;
width: 49px;
height: 17px;
left: 293px;
top: 55px;
}
.title3{
/* Контакты */

position: absolute;
width: 86px;
height: 17px;
left: 1055px;
top: 55px; 
}
.footer1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.text10{
/* Партнёрская программа */

position: absolute;
width: 195px;
height: 19px;
left: 0px;
top: 92px;
text-decoration: none;
color: #E4E5EA;
}
.text2{
/* Расчёт стоимости */

position: absolute;
width: 144px;
height: 19px;
left: 293px;
top: 92px;
text-decoration: none;
color: #E4E5EA;
}
.text3{
/* Кейсы */

position: absolute;
width: 50px;
height: 19px;
left: 489px;
top: 92px;
text-decoration: none;
color: #E4E5EA;
}
.text4{
/* +7 555 555-55-55 */

position: absolute;
width: 143px;
height: 19px;
left: 998px;
top: 92px;
text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: right;
color: #E4E5EA;
}
.text5{
/* Вакансии */

position: absolute;
width: 75px;
height: 19px;
left: 0px;
top: 121px;
text-decoration: none;
color: #E4E5EA;
}
.text6{
/* Услуги */

position: absolute;
width: 53px;
height: 19px;
left: 293px;
top: 121px;
text-decoration: none;
color: #E4E5EA;
}
.text7{
/* Благодарственные письма */


position: absolute;
width: 212px;
height: 19px;
left: 489px;
top: 121px;
text-decoration: none;
color: #E4E5EA;
}
.text8{
/* Виджеты */


position: absolute;
width: 73px;
height: 19px;
left: 293px;
top: 150px;
text-decoration: none;
color: #E4E5EA;
}
.text01{
/* Сертификаты */

text-decoration: none;
color: #E4E5EA;
position: absolute;
width: 107px;
height: 19px;
left: 489px;
top: 150px;
}
.text02{
/* Интеграции */

text-decoration: none;
color: #E4E5EA;
position: absolute;
width: 94px;
height: 19px;
left: 293px;
top: 179px;
}
.text03{
/* Блог на Youtube */

text-decoration: none;
color: #E4E5EA;
position: absolute;
width: 127px;
height: 19px;
left: 489px;
top: 179px;
}
.text04{
/* Москва, Путевой проезд 3с1, к 902 */

position: absolute;
width: 277px;
height: 19px;
left: 864px;
top: 171px;
text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: right;

/* light text */

color: #E4E5EA;
}
.text05{
/* Наши клиенты */

text-decoration: none;
color: #E4E5EA;
position: absolute;
width: 115px;
height: 19px;
left: 293px;
top: 208px;

}
.text06{
/* Вопрос / Ответ */

text-decoration: none;
color: #E4E5EA;
position: absolute;
width: 120px;
height: 19px;
left: 489px;
top: 208px;
}
#fviber{
/* viber */

position: absolute;
width: 20px;
height: 19px;
left: 1091px;
top: 132px;  
}
.fviber{
/* phone */

position: absolute;
width: 16px;
height: 15.2px;
left: 2px;
top: 2px;

/* light text */

background: #E4E5EA;
}
#ftelegram{
/* telegram */

position: absolute;
width: 20px;
height: 20px;
left: 1061px;
top: 132px;
}
.ftelegram{
/* Vector */

position: absolute;
left: 8.33%;
right: 8.27%;
top: 15.03%;
bottom: 15.03%;

/* light text */

background: #E4E5EA;
}
#fwhatsapp{
/* whatsapp */

position: absolute;
width: 20px;
height: 20px;
left: 1121px;
top: 131px;
}
.fwhatsapp{
/* Vector */

position: absolute;
left: 10%;
right: 10%;
top: 10%;
bottom: 10%;

/* light text */

background: #E4E5EA;
}
.p1{
/* ©WELBEX 2022. Все права защищены. */

position: absolute;
width: 239px;
height: 15px;
left: 902px;
top: 260px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: right;

/* light text */

color: #E4E5EA;
}
.p2{
 /* Политика конфиденциальности */

position: absolute;
width: 202px;
height: 15px;
left: 939px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: right;
text-decoration-line: underline;

/* light text */

color: #E4E5EA;   
}
#viber{
   /* viber */

position: absolute;
width: 20px;
height: 19px;
left: 1091px;
top: 132px;
 
}
.viber{
    /* phone */

position: absolute;
width: 16px;
height: 15.2px;
left: 2px;
top: 2px;

/* light text */

background: #E4E5EA;
}
#telegram{
    /* telegram */

position: absolute;
width: 20px;
height: 20px;
left: 1061px;
top: 132px;

}
.telegram{
    /* Vector */

position: absolute;
left: 8.33%;
right: 8.27%;
top: 15.03%;
bottom: 15.03%;

/* light text */

background: #E4E5EA;
}
#whatsapp{
   /* whatsapp */

position: absolute;
width: 20px;
height: 20px;
left: 1121px;
top: 131px;
 
}
.whatsapp{
   /* Vector */

position: absolute;
left: 10%;
right: 10%;
top: 10%;
bottom: 10%;

/* light text */

background: #E4E5EA; 
}
header{
/* header */

position: absolute;
width: 1140px;
height: 73px;
left: 150px;
top: 46px;

}
.menuimportant{
/* menu important */

position: absolute;
width: 503px;
height: 19px;
left: 192px;
top: 15px;

}
ul {
 /* Убираем исходные маркеры */
    
list-style-type: none; 
}
.Услуги {
    /* Услуги */

position: absolute;
width: 54px;
height: 19px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #E4E5EA;
text-decoration: none;

}
.Виджеты1 {
    /* Виджеты */

position: absolute;
width: 74px;
height: 19px;
left: 84px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

/* light text */

color: #E4E5EA;
text-decoration: none;
}
.Интеграции {
/* Интеграции */

position: absolute;
width: 95px;
height: 19px;
left: 188px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #E4E5EA;
text-decoration: none;
}
.Кейсы {
/* Кейсы */

position: absolute;
width: 51px;
height: 19px;
left: 313px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #E4E5EA;
text-decoration: none;
}
.Сертификаты {
/* Сертификаты */

position: absolute;
width: 109px;
height: 19px;
left: 394px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #E4E5EA;
text-decoration: none;
}
#viber{
    /* viber */

position: absolute;
width: 20px;
height: 19px;
left: 1072px;
top: 14px;
}
.viber{
position: absolute;
width: 16px;
height: 15.2px;
left: 2px;
top: 2px;
background: #E4E5EA;
}
#telegram{
/* telegram */

position: absolute;
width: 20px;
height: 20px;
left: 1022px;
top: 14px;
}
.telegram{
/* Vector */

position: absolute;
left: 8.33%;
right: 8.27%;
top: 15.03%;
bottom: 15.03%;

background: #E4E5EA;
}
#whatsapp{
/* whatsapp */

position: absolute;
width: 20px;
height: 20px;
left: 1122px;
top: 13px;

}
.whatsapp{
/* Vector */

position: absolute;
left: 10%;
right: 10%;
top: 10%;
bottom: 10%;

background: #E4E5EA;
}
.phonenumber{
    /* +7 555 555-55-55 */

position: absolute;
width: 143px;
height: 19px;
left: 832px;
top: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: right;

/* light text */

color: #E4E5EA;
}
.text1{
/* крупный интегратор CRM в Росcии и ещё 8 странах */

position: absolute;
width: 165px;
height: 24px;
left: 0px;
top: 45px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;

color: #E4E5EA;

}
.img{
    /* logo_welbex */

position: absolute;
width: 140px;
height: 24px;
left: 0px;
top: 11px;
}
.part1{
    /* part1 */

position: absolute;
width: 35px;
height: 24px;
left: 0px;
top: 0px;

}
.part2{
    /* part2 */

position: absolute;
width: 97px;
height: 15px;
left: 43px;
top: 5px;
}
.btn{
/* btn */

position: absolute;
width: 262px;
height: 61px;
left: 1028px;
top: 535px;

}
.button{
/* Получить консультацию */

position: absolute;
width: 193px;
height: 19px;
left: 35px;
top: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

/* light text */

color: #E4E5EA;

}
.bg{
 /* bg */

position: absolute;
width: 262px;
height: 61px;
left: 0px;
top: 0px;

background: #4077F3;
}
.container1{
/* Зарабатывайте больше */

position: absolute;
width: 362px;
height: 116px;
left: 147px;
top: 209px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #E4E5EA;
}
.container2{
/* с WELBEX */

position: absolute;
width: 247px;
height: 58px;
left: 147px;
top: 325px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;
/* identical to box height */


background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.container3{
/* Развиваем и контролируем продажи за вас */

position: absolute;
width: 275px;
height: 44px;
left: 148px;
top: 413px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* light text */
color: #E4E5EA;
}
.container4{
  /* Вместе с бесплатной консультацией мы дарим: */

position: absolute;
width: 291px;
height: 44px;
left: 999px;
top: 224px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;

/* light text */

color: #E4E5EA;  
}
.container5{
background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;  
}
.Виджеты{
/* Виджеты */

position: absolute;
width: 101px;
height: 22px;
left: 1024px;
top: 308px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;

/* light text */

color: #E4E5EA;
}
.готовыхрешений{
/* 30 готовыхрешений */


position: absolute;
width: 89px;
height: 40px;
left: 1036px;
top: 336px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: right;

color: #E4E5EA;
}
.Dashboard{
/* Dashboard */

position: absolute;
width: 120px;
height: 22px;
left: 1171px;
top: 308px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;

/* light text */

color: #E4E5EA;  
}
.споказателямивашегобизнеса{
/* с показателями вашего бизнеса */

position: absolute;
width: 135px;
height: 40px;
left: 1156px;
top: 336px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: right;

color: #E4E5EA;
}
.SkypeАудит{
/* Skype Аудит */


position: absolute;
width: 134px;
height: 22px;
left: 992px;
top: 406px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;

/* light text */

color: #E4E5EA;

}
.отделапродажиCRMсистемы{
/* отдела продажи CRM системы */

position: absolute;
width: 164px;
height: 40px;
left: 961px;
top: 434px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: right;

color: #E4E5EA;  
}
.дней{
/* 35 дней */

position: absolute;
width: 85px;
height: 22px;
left: 1206px;
top: 406px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;

/* light text */

color: #E4E5EA;

}
.использованияCRM{
/* использованияCRM */

position: absolute;
width: 130px;
height: 40px;
left: 1161px;
top: 434px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: right;

color: #E4E5EA;

}
.purpleball{
/* purple ball */


position: absolute;
width: 60px;
height: 60px;
left: 868px;
top: -2px;

background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
filter: blur(5px);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
}
.redball{
/* red ball */

border-radius: 50%;
position: absolute;
width: 28px;
height: 28px;
left: 851px;
top: 547px;
background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
filter: blur(2.5px);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
}
.redball1{
/* red ball */

border-radius: 50%;
position: absolute;
width: 83px;
height: 83px;
left: 519px;
top: 83px;
background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
}
.purpleball{
 /* purple ball */

 border-radius: 50%;
position: absolute;
width: 60px;
height: 60px;
left: 868px;
top: -2px;
background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
filter: blur(5px);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */   
}
.purplelight{
    /* purple light */
   
    border-radius: 50%;
   position: absolute;
   width: 259px;
   height: 259px;
   left: 602px;
   top: -154px;
   background: #833AB4;
   opacity: 0.5;
   filter: blur(196px); 
   }
.redlight{
/* red light */
   
border-radius: 50%;
   position: absolute;
   width: 311px;
   height: 311px;
   left: -102px;
   top: 251px;
   background: #961A1A;
   opacity: 0.5;
   filter: blur(196px);
   }
